.section{
    background: #eb5757;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22.5rem;
    height: 4.5rem;
    position: sticky;
    top: 4.5rem;
    z-index: 99;
    width: 100%;
}
.section__logo{
    display: flex;
    gap: 5px;
    align-items: center;
}
.section__logo--line{
    display: flex;
    align-items: center;
    gap: 4px;
}
.section__logo--line .lines{
    width: 5px;
    height: 30px;
    background: #fff;
    border-radius: 50vw;
}
.section__logo--line .line{
    width: 5px;
    height: 15px;
    background: #fff;
    border-radius: 50vw;
}
.section__logo--home{
    color: #fff;
    font-weight: 600;
    letter-spacing: 3px;
    text-decoration: none;
}
.section__right{
    display: flex;
    gap: 2.5rem;
    align-items: center;
}
.section__navlinks{
    display: flex;
    gap: 2.5rem;
    align-items: center;
}
.section__navlinks--links{
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
    transition: 0.5s background;
}
.section__navlinks--links:hover{
    background: #222222;
}
.section__navlinks--cart{
    color: #fff;
    background: #222222;
    padding: 0.55rem 1rem;
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section__navlinks--cart span{
    width: 1rem;
    height: 1rem;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 0.7rem;
    font-weight: 600;
    top: -0.5rem;
    right: -0.2rem;
    
}
.section__hamburger{
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    display: none;
    padding: 0.3rem 0.6rem;
    border-radius: 0.5rem;
    transition: 0.3s background;
}
.section__hamburger:hover{
    background: #000;
}
@media screen and (max-width: 1600px){
    .section{
        padding: 0 15rem;
    }
}
@media screen and (max-width: 1280px){
    .section{
        padding: 0 5rem;
    }
}
@media screen and (max-width: 900px){
    .section{
        padding: 0 1rem;
    }
}
@media screen and (max-width: 768px){
    .section__navlinks{
        position: absolute;
        top: 4.5rem;
        right: 0;
        flex-direction: column;
        background: #eb5757;
        height: 100vh;
        gap: 4rem;
        padding-top: 2rem;
        width: 25rem;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s opacity ease-in-out;
    }
    .section__navlinks.display{
        opacity: 1;
        flex-direction: column;
        pointer-events: all;
    }
    .section__navlinks--cart{
        padding: 0.55rem 1rem;
    }
    .section__hamburger{
        display: block;
    }
}